/* -- Including darker mode on stylesheet 4.5-A by Hct-- */
/* -- Generic Colors -- */
/* -- Dark Color prefers -- */
/* -- Generic Boxes -- */
/* -- Generic Flex -- */
/* -- General Reboot -- */
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -- Including Nesting -- */
.grid-container {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #999;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  /* -- Width From Generic Images -- */
  /* -- Lobby Container -- */
  /* -- Footer Container -- */
  /* -- Control of mobile devices -- */
  /* -- Darker mode -- */
}
.grid-container img {
  width: 100px;
}
.grid-container .header {
  width: 100%;
  padding: 20px 50px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.grid-container .header__icon {
  cursor: pointer;
  display: inline-block;
}
.grid-container .header__icon .header__button--photo {
  /* -- Responsive icons -- */
  width: clamp(3rem, 1.2rem + 6.4vw, 6rem);
}
.grid-container .main {
  background-color: #e1e1e1;
  /* -- Banner Container -- */
  /* -- Cards Container -- */
}
.grid-container .main__banner {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-image: url(../img/Pioneer-DJ-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position-y: 45%;
}
.grid-container .main__banner .main__sectitle--banner, .grid-container .main__banner .main__txtbanner {
  color: #81ffff;
  width: 100%;
  font-weight: 600;
  /* -- Responsive title font -- */
  font-size: clamp(1rem, 0.4rem + 2.133vw, 2rem);
  margin: 10px;
}
.grid-container .main__banner .main__txtbanner {
  /* -- Responsive banner content -- */
  font-size: clamp(0.9rem, 0.42rem + 1.707vw, 1.7rem);
  font-weight: 300;
}
.grid-container .main .main__title {
  color: #000000;
  width: 100%;
  margin: 1rem;
  font-weight: 600;
  /* -- Responsive main title -- */
  font-size: clamp(0.9rem, 0.24rem + 2.347vw, 2rem);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid-container .main__controllers {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  /* -- Individual__Card--Modifiers -- */
}
.grid-container .main__controllers .main__card {
  background-color: #999;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.grid-container .main__controllers .main__card .main__product--photo {
  display: flex;
  margin: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid-container .main__controllers .main__card:hover {
  transform: translateY(-10px);
}
.grid-container .main__controllers .main__crd-content {
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid-container .main__controllers .main__artcl-name, .grid-container .main__controllers .main__artcl-desc {
  color: #333;
  /* -- Responsive card content -- */
  font-size: clamp(0.7rem, 0.52rem + 0.64vw, 1rem);
  font-weight: bold;
  margin-bottom: 10px;
}
.grid-container .footer {
  background-color: #080808;
  padding: 2rem;
}
.grid-container .footer__list {
  color: #fff;
  /* -- Responsive footer -- */
  font-size: clamp(0.7rem, 0.52rem + 0.64vw, 1rem);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.grid-container .footer__list .footer__item:hover {
  color: #fb39a0;
}
.grid-container .footer__list .footer__link {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (max-width: 470px) {
  .grid-container .main__banner {
    height: 100px;
  }
  .grid-container .footer__list {
    flex-direction: column;
    margin: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .grid-container .main {
    background-color: #222222;
  }
  .grid-container .main .main__title {
    color: #fff;
  }
  .grid-container .main .main__card {
    background-color: #010010;
  }
  .grid-container .main .main__artcl-name, .grid-container .main .main__artcl-desc {
    color: #81ffff;
  }
}/*# sourceMappingURL=pionnerStyles.css.map */